@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  /* border: 0px; */
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 14px;
}

html,
body {
  height: 100%;
  min-width: 320px;
  font-family: sans-serif;
  background: #a35f37;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
button {
  cursor: pointer;
  transition: background-color 0.2s;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.btn__green:hover {
  background-color: #a35f37;
}
.btn__white:hover {
  background-color: #17502e;
}

a,
a:visited {
  text-decoration: none;
  /* color: inherit; */
}

a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
.page {
  width: 90%;
  max-width: 1000px;
  margin: 3rem auto;
  padding: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto-fill;
  gap: 15px;
}

.page__card {
  box-shadow: 3px 4px 12px 1px #0c2e1a;
  transition: all 0.3s;
}
.page__card:hover {
  box-shadow: 0 0 16px 6px #ffefdc;
  transform: scale(1.1);
}

.menu {
  display: flex;
  width: 90%;
  max-width: 1000px;
  margin: 3rem auto;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  background: #17502e;
}

.menu__item {
  position: relative;
  flex-grow: 1;
  text-align: center;
  line-height: 3rem;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.6;
  border-bottom-width: 0.2rem;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  transition: border-bottom-color 0.2s;
}

.menu__item:hover {
  opacity: 1;
  border-bottom-color: hsl(60, 50%, 50%);
  color: #fff;
}

.menu__item.active {
  opacity: 1;
  border-bottom-color: hsl(120, 50%, 50%);
  color: #fff;
}